    html {
        box-sizing: border-box;
    }
    
    *,
    *::before,
    *::after {
        box-sizing: inherit;
    }
    
    body {
        font-family: 'Playfair Display', 'Garamond', Georgia, serif;
        font-size: 14px;
        color: rgb(98, 98, 98);
        margin: 0;
    }
    
    a {
        text-decoration: none;
        color: rgb(98, 98, 98);
        text-align: center;
    }
    
    a.menu-link:hover {
        color: rgb(3, 169, 244);
    }
    
    img {
        display: block;
        max-width: 100%;
        height: auto;
    }
    
    button {
        width: 164px;
        height: 60px;
        border: 1px solid rgb(98, 98, 98);
        color: rgb(98, 98, 98);
        background-color: rgb(255, 255, 255);
        text-align: center;
        display: block;
        margin: 58px auto;
        font-size: 20px;
        font-family: "Playfair Display";
        line-height: 1.2;
        padding: 22px, 32px;
    }
    
    article {
        height: 480px;
        width: 421px;
    }
    
    h3 {
        font-size: 30px;
        line-height: 1.2;
    }
    
    p {
        line-height: 1.7;
    }
    
    .site-nav {
        width: 572px;
        margin: 0 auto;
        padding: 76px 0 104px 0;
        list-style: none;
        text-transform: uppercase;
        line-height: 1.7;
        text-align: center;
    }
    
    .site-nav ul {
        padding: 0;
    }
    
    .site-nav li {
        display: inline-block;
        margin: 0 auto;
    }
    
    .site-nav ul>li:not(:last-child) {
        margin-right: 16%;
    }
    
    .wrapper {
        display: block;
        width: 906px;
        margin: 0 auto;
    }
    
    .left,
    .right {
        display: inline-block;
        height: 1700px;
        width: calc(50% - 33px);
    }
    
    .left {
        margin-right: 60px;
    }
    
    .right {
        vertical-align: top;
    }
    
    .first-row {
        margin-bottom: 136px;
    }
    
    .second-row {
        margin-bottom: 140px;
    }
    
    .third-row {
        margin-bottom: 56px;
    }
    
    .title {
        font-family: "Ubuntu", sans-serif;
        font-size: 14px;
        color: rgb(180, 173, 158);
        text-transform: uppercase;
        line-height: 1.2;
    }