.section-title {
    margin: 0 auto 110px auto;
    text-align: center;
    font-size: 30px;
    font-family: $montserrat;
    font-weight: 700;
    &::after {
        content: '';
        display: table;
        clear: both;
        width: 60px;
        height: 3px;
        background-color: $peach-color;
        margin: 40px auto 0;
    }
}

.section-title span {
    display: block;
    font-size: 24px;
    font-weight: 300;
    font-family: $kaushan-script;
    padding-bottom: 15px;
}